name: Web assets server status

on:
  schedule:
    - cron: '20 */6 * * *'
  workflow_dispatch:

jobs:
  check:
    name: Test web assets server
    runs-on: ubuntu-latest
    strategy:
      matrix:
        protocol:
          - http
          - https
        path:
          - index.html
          - css/etc/Help.css
          - js/etc/Help.js
          - json/maintenance/maintenance.json
          - resource/image_web/common/global/connecting.png
          - resource/image_web/test/bg/web_common.jpg

    steps:
      - name: Test ${{ matrix.protocol }} ${{ matrix.path }}
        env:
          HOST: ${{ secrets.WEB_HOST }}
          SUBPATH: ${{ secrets.SUBPATH }}
          PUBKEY: ${{ secrets.WEB_PUBKEY }}
          HEADERS: ${{ secrets.HEADERS }}
        run: |
          PROTOCOL="${{ matrix.protocol }}"
          FILEPATH="${{ matrix.path }}"

          BODYFILE=$(mktemp)
          CURL_HEADER_OPTS=()
          while IFS= read -r line; do
            CURL_HEADER_OPTS+=("-H" "${line}")
          done <<< "${HEADERS}"
          CURL_OPTS=(-f -s -D - -o "${BODYFILE}" "${PROTOCOL}://${HOST}/${SUBPATH}/${FILEPATH}")
          if [ "${PROTOCOL}" = "https" ]; then
            CURL_OPTS+=(--tlsv1.2 --pinnedpubkey "${PUBKEY}")
          fi
          RESPONSE=$(curl "${CURL_HEADER_OPTS[@]}" "${CURL_OPTS[@]}")
          CODE=$(echo "${RESPONSE}" | head -1 | cut -d' ' -f2)
          SERVER=$(echo "${RESPONSE}" | grep -i '^Server:' | head -1 | cut -d' ' -f2- | tr -d '\r')

          test "${SERVER}" = "Totentanz"

          if [ "${PROTOCOL}" = "http" ]; then
            test "${CODE}" = "301"
            LOCATION=$(echo "${RESPONSE}" | grep -i '^Location:' | head -1 | cut -d' ' -f2- | tr -d '\r')
            test "${LOCATION}" = "https://${HOST}/${SUBPATH}/${FILEPATH}"
            SIZE=$(stat -c%s "${BODYFILE}")
            test "${SIZE}" -eq 0
          fi

          if [ "${PROTOCOL}" = "https" ]; then
            test "${CODE}" = "200"
            case "${FILEPATH##*.}" in
              html) file "${BODYFILE}" | grep -q HTML ;;
              css)  file "${BODYFILE}" | grep -q text ;;
              js)   file "${BODYFILE}" | grep -q text ;;
              json) file "${BODYFILE}" | grep -q JSON ;;
              png)  file "${BODYFILE}" | grep -q PNG ;;
              jpg)  file "${BODYFILE}" | grep -q JPEG ;;
            esac
          fi

          rm -f "${BODYFILE}"
